{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login - Tanamin</title>
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
</head>

<body>

<h1>Login</h1>

{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Login
    </button>
</form>


<div class="login-links">

    <a href="{% url 'password_reset' %}">
        Forgot Password?
    </a>

    <p>
        Don't have an account yet?
        <a href="{% url 'authentication:register' %}">
            Register
        </a>
    </p>

</div>

</body>
</html>